{% extends "base.html" %} {% block title %}Contact | María Emege{% endblock %}
{% block content %}
<section class="contact-page">
  <form method="POST" class="contact-form">
    {% csrf_token %}
    <h1>Contact Me</h1>

    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your full name" required />

    <label for="phone">Phone</label>
    <input type="text" name="phone" placeholder="XXXXX" />

    <label for="email">Email</label>
    <input type="email" name="email" placeholder="XXX@email.com" required />

    <label for="message">Message</label>
    <textarea name="message" rows="5" required></textarea>

    <button type="submit">Send</button>
  </form>
</section>

{% endblock %}
